.contentApp{
    display:flex;
    .panelAdmin{
        width:20%;
        height: 100vh;
        position: relative;
        .fondoPanelSuperior{
            position: absolute;
            width: 100%;
            top: -1px;
            left: -1px;
        }
        .fondoPanelInferior{
            width: 100%;
            position: absolute;
            bottom: 0;
        }
        .logout{
            position: absolute;
            bottom: 3%;
            z-index: 100;
            width: 100%;
            text-align: center;
            .cierreSesion{
                color:white;
                font-size: 20px;
                &:hover{
                    color:white;
                    text-decoration: none;
                }
            }
        }
    }
    .bodyAdmin{
        width: 80%;
    }
}
.headerApp{
    padding: .5% 0;
    border-bottom: 1px solid #353638;
    .headerContent{
        display: flex;
        justify-content: space-between;
        align-items: center;
        #right{
            display:none;
            color:#353638;
        }
        #left{
            color:#353638;
        }
        .logoApp{
            width: 80px;
        }
    }
}
