html, body{
    overflow: hidden;
    background: white;
}

.sectionFormLogin{
    height: 100vh;
    padding: 12% 0;
    .imgIzquierdaLogin{
        position: absolute;
        top: 0;
        width: 40%;
        left: 0;
    }
    .imgDerechaLogin{
        position: absolute;
        width: 40%;
        right: 0;
        bottom: 0;
    }
    .content-form{
        background: white;
        border:1px solid #333333;
        position: relative;
        padding: 3% 0;
        .logoFormulario{
            width:210px;
            position: absolute;
            z-index: 100;
            top: -16%;
            left: 35%;
        }
        .inputLogin{
            width:80%;
            height:40px;
            border-radius: 0;
            border:1px solid #333333;
            outline: none;
        }
        .SubmitLogin{
            border: none;
            background: #343637;
            color: white;
            padding: .5% 9%;
            font-size: 20px;
        }
    }
}
@media(max-width:360px){
    .sectionFormLogin {
        padding: 53% 9%;
    }
    .logoFormulario{
        width: 100px !important;
        top: -10% !important;
    }
}
@media screen and (min-width:361px) and (max-width:500px){
    .sectionFormLogin {
        padding: 70% 9%;
        .imgIzquierdaLogin{
            left: 0;
        }
    }
    .logoFormulario{
        width: 100px !important;
        top: -10% !important;
    }
}
@media screen and (min-width:501px) and (max-width:900px){
    .sectionFormLogin{
        padding: 7% 10%;
    }
    html, body{
        overflow-y: scroll;
    }
    .logoFormulario{
        width:150px !important;
        left: 41% !important;
    }
}