.content-header-index-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .add-new-order-btn{
        padding: 4px 25px;
        border-radius: 20px;
    }
    .form-search-product{
        position: relative;
        .btn-submit-search{
            background: transparent;
            border: none;
            outline: none;
        }
        .search-orden{
            outline: none;
            border: 1px solid;
            border-radius: 20px;
            padding-left: 20px;
        }
    }
}
.card.content-product{
    padding: 5px;
    &:hover{
        transform: scale(1.05);
        transition: 1s;
        box-shadow: 0 0 10px -3px;
    }
    .content-img-order-index{
        background-position: center;
        background-size: 100% auto;
        background-repeat: no-repeat;
        height: 150px;
        width: 100%;
        border-radius: 4px 4px 0 0;
        position: relative;
        overflow:hidden;
        .content-form-animate-order{
            display: flex;
            justify-content: center;
            position: absolute;
            width: 100%;
            bottom: -20%;
            .content-edit, .content-view{
                margin: 0 4px;
            }
        }
    }
    .name-product{
        text-align: center;
    }
    .card-body{
        padding: 8px 1rem;
        .name-product h4{
            margin-bottom: 0;
        }
        .content-description p{
            margin-bottom: 0;
        }
    }
}
.nav-tabs{
    border: none;
    .nav-link.active, .nav-link.active:hover{
        border-color: white;
        border-bottom: 2px solid #888;
        color: #888;
        background:transparent;
    }
    .nav-link{
        color:black;
    }
    .nav-link:hover{
        border-color: white;
    }
}
select{
    width: 60%;
}
.content-product-list{
    height: 65vh;
    overflow-y: scroll;
}
// style view order
.content-order-view{
    align-items: center;
    height: 80vh;
    overflow-y: scroll;
    .image-view-order{
        width: 100%;
        border-radius: 10px;
    }
    .btn-back-order{
        padding: 4px 20px;
        border-radius: 20px;
    }
}

.flex.justify-between.flex-1, .text-sm.text-gray-700.leading-5{
    display: none !important;
}
.hidden{
    display: flex !important;
    justify-content: right;
    position: relative;
    right: 2%;
}
    
svg{
    width: 20px !important;
}

.relative.inline-flex.items-center.px-4.py-2.-ml-px.text-sm.font-medium.text-gray-500.bg-white.border.border-gray-300.cursor-default.leading-5{
    color: white !important;
    background: #313335 !important;
    border: 2px solid #313335 !important;
    padding: 0 10px !important;
    margin-left: 4px;
}
.pl-2, .px-2{
    color: #313335 !important;
    border: 2px solid #313335 !important;
    padding: 0 10px !important;
}
.btn-back-order{
    padding: 4px 20px;
    border-radius: 20px;
}